body {
    padding: 0px;
    margin: 0px;
    background-color:#aaaaaa;
    font-family: Arial, Helvetica, sans-serif;
}
.info {
    width: 200px;
    color: #eeeeee;
    background-color: #888888;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}
.login {
    margin-right: 0px;
    width: 200px;
    color: #eeeeee;
    padding-left: 100px;
    float: right;
    background-color: #888888;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}
a {
    color: #eeeeee;
}

.przycisk {
    margin-right: 0px;
    width: 400px;
    font-size: 20px;
    color: #eeeeee;
    background-color: #888888;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

img {
    border-style: solid;
    border-width: 2px;
    border-color: #555555;
}