<!DOCTYPE html>
<html >

<head>
    <title>Strona główna</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
<center><div class="info">{{ info }}</div></center>
    <div class="login">
        <a href ="{{ url_for('index') }}">index</a>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <center>
        {% block body %}
        {% endblock %}
    </center>
</body>
</html>