{% extends "blank.html" %}
{% block body %}
    {% if logged == True %}
        <div class="przycisk">
            <a href="{{ url_for('logout') }}">Wyloguj się!</a>
        </div>
        <iframe src="chat" width=500 height=400 id="myIframe"></iframe>

        <script>
            window.onload = function() {
                document.getElementById("loginValue").focus();
            }
            var iframe = document.getElementById('myIframe');
            {#            iframe.src = iframe.src;#}
            setInterval(function(){iframe.src = iframe.src;},500);
        </script>


        <form action="{{ url_for('sendChat') }}" method="POST">
            <input type="text" name="value" id="loginValue" ><br/>
            <input type="submit" value="send">
        </form>
    {% endif %}
    {%  if logged == False %}
        <div class="przycisk">
            <a href="{{ url_for('login') }}">Zaloguj sie!</a>
        </div>
    {% endif %}
{% endblock %}