{% extends "blank.html" %}
{% block body %}
<form action="{{ url_for('login') }}" method="POST">
    Log:<input type="text" name="loginValue" id="loginValue"><br/>
    <input type="submit" value="Login">
</form>
{% endblock %}
