
<form action="{{ url_for('getChat') }}" method="POST">
    id<input type="text" name="id" id="id" ><br/>
    user<input type="text" name="user" id="user" ><br/>
    message<input type="text" name="message" id="message" ><br/>
    time<input type="text" name="timestamp" id="timestamp" ><br/>
    <input type="submit" value="send">
</form>
